<ul id="sortable2" class="media-list connectedSortable">
  <% @active_tours.each do |tour| %>
    <li class="media">
      <%= link_to tour, :class => "pull-left" do %>
        <% @multimedia = tour %>
        <%= render "media/image" %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to deactivate_tour_path(tour), :class => "btn btn-danger pull-right" do %><i class="icon-trash icon-white"></i><% end %>
          <%= tour.title %></h4>
      </div>
    </li>
  <% end %>
</ul>
