<div id="tours">
  <h2>Tours <%= link_to new_venue_tour_path(@venue), :class => "btn btn-success" do %>
    <i class="icon-plus icon-white"></i> 
   <% end %>
  </h2>
  <% @tours.each do |tour| %>
    <div class="tour">
      <%= link_to tour, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger right" do %>
        <i class="icon-remove icon-white"></i> 
      <% end %>
      <%= link_to edit_tour_path(tour), :class => "btn btn-primary right" do %>
        <i class="icon-pencil icon-white"></i> 
      <% end %>
      <h3><%= link_to tour.title, tour %></h3>
    </div>
  <% end %>
</div>
