<h1>Specific Tour attractions will show up here!</h1>
<p>Here will be a list of all of the attractions for a venue, and you can add them to the current tour, and add multimedia (eventually).</p>
<% @attractions.each do |attraction| %>
  <p><%= attraction.attraction.title %> - <%= attraction.description %></p>
<% end %>
