<h1>Tours</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @tours.each do |tour| %>
  <tr>
    <td><%= tour.title %></td>
    <td><%= tour.description %></td>
    <td><%= link_to 'Show', tour %></td>
  </tr>
<% end %>
</table>
