<h2>Attractions:</h2>
<ul class="media-list">
<% @attractions.each do |attraction| %>
  <li class="media">
    <%= link_to attraction, :class => "pull-left" do %>
      <%= holder_tag '100x75' %>
    <% end %>
    <div class="media-body">
      <h4 class="media-heading"><%= attraction.title %></h4>
      <div class="media">
        <%= attraction.description %>
      </div>
    </div>
  </li>
<% end %>
</ul>
